src/LW-Project-USFS/src/USFS-80/YantraCustom/WebContent/WEB-INF/wsdl/Resource_Synchronous.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2007 (http://www.altova.com) by Mark Carlson (LOCKHEED MARTIN INFO TECH) -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nwcg="http://nwcg.gov/services/ross/common_types/1.1" xmlns:rsc="http://nwcg.gov/services/ross/resource/1.1" xmlns:tns="http://nwcg.gov/services/ross/resource/wsdl/1.1" xmlns:ns="http://nwcg.gov/services/ross/resource/1.1" xmlns:ns1="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ResourceOrder_WSDL" targetNamespace="http://nwcg.gov/services/ross/resource/wsdl/1.1">
	<types>
		<xs:schema version="1.1">
			<xs:import namespace="http://nwcg.gov/services/ross/resource/1.1" schemaLocation="Resource.xsd"/>
			<xs:import namespace="http://nwcg.gov/services/ross/common_types/1.1" schemaLocation="RossCommon.xsd"/>
			<xs:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" schemaLocation="RossSecurity.xsd"/>
		</xs:schema>
	</types>
	<message name="AddPersonResourceQualificationReq">
		<part name="body" element="rsc:AddPersonResourceQualificationReq"/>
	</message>
	<message name="AddPersonResourceQualificationResp">
		<part name="body" element="rsc:AddPersonResourceQualificationResp"/>
	</message>
	<message name="CreatePersonResourceReq">
		<part name="body" element="rsc:CreatePersonResourceReq"/>
	</message>
	<message name="CreatePersonResourceResp">
		<part name="body" element="rsc:CreatePersonResourceResp"/>
	</message>
	<message name="DeleteDuplicatePersonResourceReq">
		<part name="body" element="rsc:DeleteDuplicatePersonResourceReq"/>
	</message>
	<message name="DeleteDuplicatePersonResourceResp">
		<part name="body" element="rsc:DeleteDuplicatePersonResourceReq"/>
	</message>
	<message name="DeletePersonResourceReq">
		<part name="body" element="rsc:DeletePersonResourceReq"/>
	</message>
	<message name="DeletePersonResourceResp">
		<part name="body" element="rsc:DeletePersonResourceResp"/>
	</message>
	<message name="DeletePersonResourceQualificationReq">
		<part name="body" element="rsc:DeletePersonResourceQualificationReq"/>
	</message>
	<message name="DeletePersonResourceQualificationResp">
		<part name="body" element="rsc:DeletePersonResourceQualificationResp"/>
	</message>
	<message name="ReleaseResourceReq">
		<part name="body" element="rsc:ReleaseResourceReq"/>
	</message>
	<message name="ReleaseResourceResp">
		<part name="body" element="rsc:ReleaseResourceResp"/>
	</message>
	<message name="ReplaceMasterRosterReq">
		<part name="body" element="rsc:ReplaceMasterRosterReq"/>
	</message>
	<message name="ReplaceMasterRosterResp">
		<part name="body" element="rsc:ReplaceMasterRosterResp"/>
	</message>
	<message name="ResourceExistsReq">
		<part name="body" element="rsc:ResourceExistsReq"/>
	</message>
	<message name="ResourceExistsResp">
		<part name="body" element="rsc:ResourceExistsResp"/>
	</message>
	<message name="ServicePingReq">
		<part name="body" element="nwcg:ServicePingReq"/>
	</message>
	<message name="ServicePingResp">
		<part name="body" element="nwcg:ServicePingResp"/>
	</message>
	<message name="UpdateResourceAvailabilityReq">
		<part name="body" element="rsc:UpdateResourceAvailabilityReq"/>
	</message>
	<message name="UpdateResourceAvailabilityResp">
		<part name="body" element="rsc:UpdateResourceAvailabilityResp"/>
	</message>
	<message name="UpdateResourceTravelReq">
		<part name="body" element="rsc:UpdateResourceTravelReq"/>
	</message>
	<message name="UpdateResourceTravelResp">
		<part name="body" element="rsc:UpdateResourceTravelResp"/>
	</message>
	<message name="ResourceHeaderMessage">
		<part name="SecurityToken" element="wsse:Security"/>
		<part name="MessageContext" element="nwcg:MessageContext"/>
	</message>
	<message name="UpdatePersonResourceReq">
		<part name="body" element="rsc:UpdatePersonResourceReq"/>
	</message>
	<message name="UpdatePersonResourceResp">
		<part name="body" element="rsc:UpdatePersonResourceResp"/>
	</message>
	<message name="UpdatePersonResourceQualificationReq">
		<part name="body" element="rsc:UpdatePersonResourceQualificationReq"/>
	</message>
	<message name="UpdatePersonResourceQualificationResp">
		<part name="body" element="rsc:UpdatePersonResourceQualificationResp"/>
	</message>
	<portType name="ResourceInterface">
		<documentation>ResourceInterface PortType - operation response messages returned for synchronous operation</documentation>
		<operation name="AddPersonResourceQualification">
			<input message="tns:AddPersonResourceQualificationReq"/>
			<output message="tns:AddPersonResourceQualificationResp"/>
		</operation>
		<operation name="CreatePersonResource">
			<input message="tns:CreatePersonResourceReq"/>
			<output message="tns:CreatePersonResourceResp"/>
		</operation>
		<operation name="DeleteDuplicatePersonResource">
			<input message="tns:DeleteDuplicatePersonResourceReq"/>
			<output message="tns:DeleteDuplicatePersonResourceResp"/>
		</operation>
		<operation name="DeletePersonResource">
			<input message="tns:DeletePersonResourceReq"/>
			<output message="tns:DeletePersonResourceResp"/>
		</operation>
		<operation name="DeletePersonResourceQualification">
			<input message="tns:DeletePersonResourceQualificationReq"/>
			<output message="tns:DeletePersonResourceQualificationResp"/>
		</operation>
		<operation name="ReleaseResource">
			<input message="tns:ReleaseResourceReq"/>
			<output message="tns:ReleaseResourceResp"/>
		</operation>
		<operation name="ReplaceMasterRoster">
			<input message="tns:ReplaceMasterRosterReq"/>
			<output message="tns:ReplaceMasterRosterResp"/>
		</operation>
		<operation name="ResourceExists">
			<input message="tns:ResourceExistsReq"/>
			<output message="tns:ResourceExistsResp"/>
		</operation>
		<operation name="ServicePing">
			<input message="tns:ServicePingReq"/>
			<output message="tns:ServicePingResp"/>
		</operation>
		<operation name="UpdatePersonResourceQualification">
			<input message="tns:UpdatePersonResourceQualificationReq"/>
			<output message="tns:UpdatePersonResourceQualificationResp"/>
		</operation>
		<operation name="UpdateResourceAvailability">
			<input message="tns:UpdateResourceAvailabilityReq"/>
			<output message="tns:UpdateResourceAvailabilityResp"/>
		</operation>
		<operation name="UpdatePersonResource">
			<input message="tns:UpdatePersonResourceReq"/>
			<output message="tns:UpdatePersonResourceResp"/>
		</operation>
		<operation name="UpdateResourceTravel">
			<input message="tns:UpdateResourceTravelReq"/>
			<output message="tns:UpdateResourceTravelResp"/>
		</operation>
	</portType>
	<binding name="ResourceBinding" type="tns:ResourceInterface">
		<documentation>Resource Binding - All request messages must contain SecurityToken and MessageContext headers and one request message in the body</documentation>
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="AddPersonResourceQualification">
			<soap:operation soapAction="AddPersonResourceQualification" style="document"/>
			<input>
				<soap:header message="tns:ResourceHeaderMessage" part="SecurityToken" use="literal"/>
				<soap:header message="tns:ResourceHeaderMessage" part="MessageContext" use="literal"/>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="CreatePersonResource">
			<soap:operation soapAction="CreatePersonResource" style="document"/>
			<input>
				<soap:header message="tns:ResourceHeaderMessage" part="SecurityToken" use="literal"/>
				<soap:header message="tns:ResourceHeaderMessage" part="MessageContext" use="literal"/>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="DeleteDuplicatePersonResource">
			<soap:operation soapAction="DeleteDuplicatePersonResource" style="document"/>
			<input>
				<soap:header message="tns:ResourceHeaderMessage" part="SecurityToken" use="literal"/>
				<soap:header message="tns:ResourceHeaderMessage" part="MessageContext" use="literal"/>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="DeletePersonResource">
			<soap:operation soapAction="DeletePersonResource" style="document"/>
			<input>
				<soap:header message="tns:ResourceHeaderMessage" part="SecurityToken" use="literal"/>
				<soap:header message="tns:ResourceHeaderMessage" part="MessageContext" use="literal"/>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="DeletePersonResourceQualification">
			<soap:operation soapAction="DeletePersonResourceQualification" style="document"/>
			<input>
				<soap:header message="tns:ResourceHeaderMessage" part="SecurityToken" use="literal"/>
				<soap:header message="tns:ResourceHeaderMessage" part="MessageContext" use="literal"/>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ReleaseResource">
			<soap:operation soapAction="ReleaseResource" style="document"/>
			<input>
				<soap:header message="tns:ResourceHeaderMessage" part="SecurityToken" use="literal"/>
				<soap:header message="tns:ResourceHeaderMessage" part="MessageContext" use="literal"/>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ReplaceMasterRoster">
			<soap:operation soapAction="ReplaceMasterRoster" style="document"/>
			<input>
				<soap:header message="tns:ResourceHeaderMessage" part="SecurityToken" use="literal"/>
				<soap:header message="tns:ResourceHeaderMessage" part="MessageContext" use="literal"/>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ResourceExists">
			<soap:operation soapAction="ResourceExistsl" style="document"/>
			<input>
				<soap:header message="tns:ResourceHeaderMessage" part="SecurityToken" use="literal"/>
				<soap:header message="tns:ResourceHeaderMessage" part="MessageContext" use="literal"/>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="ServicePing">
			<soap:operation soapAction="ServicePing" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="UpdatePersonResourceQualification">
			<soap:operation soapAction="UpdatePersonResourceQualification" style="document"/>
			<input>
				<soap:header message="tns:ResourceHeaderMessage" part="SecurityToken" use="literal"/>
				<soap:header message="tns:ResourceHeaderMessage" part="MessageContext" use="literal"/>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="UpdateResourceAvailability">
			<soap:operation soapAction="UpdateResourceAvailability" style="document"/>
			<input>
				<soap:header message="tns:ResourceHeaderMessage" part="SecurityToken" use="literal"/>
				<soap:header message="tns:ResourceHeaderMessage" part="MessageContext" use="literal"/>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="UpdatePersonResource">
			<soap:operation soapAction="UpdatePersonResourcel" style="document"/>
			<input>
				<soap:header message="tns:ResourceHeaderMessage" part="SecurityToken" use="literal"/>
				<soap:header message="tns:ResourceHeaderMessage" part="MessageContext" use="literal"/>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="UpdateResourceTravel">
			<soap:operation soapAction="UpdateResourceTravel" style="document"/>
			<input>
				<soap:header message="tns:ResourceHeaderMessage" part="SecurityToken" use="literal"/>
				<soap:header message="tns:ResourceHeaderMessage" part="MessageContext" use="literal"/>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="ResourceService">
		<documentation>ResourcePort supports only SOAP 1.0 document/literal style messages posted via HTTPS. See additional documentation in WSDL text.</documentation>
		<documentation>INT server endpoint = "https://drain.lw-lmco.com:15558/soap/ross".</documentation>
		<documentation>DEV server endpoint = "https://mortar.lw-lmco.com:15558/soap/ross". </documentation>
		<documentation>SYSTEST server endpoint = "https://purgatory.lw-lmco.com:15558/soap/ross"</documentation>
		<port name="ResourcePort" binding="tns:ResourceBinding">
			<documentation>Integration Test Endpoint</documentation>
			<soap:address location="https://drain.lw-lmco.com:15558/soap/ross"/>
		</port>
	</service>
</definitions>
